:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgb(19, 14, 22);
  padding-top: 2rem;
  /* padding-top: 100vh; */
}

body > svg {
  padding: 0 2rem;
}

.blinking-boxes-wrap,
.blinking-dots-wrap,
.blinking-bit-wrap,
.animated-graph-wrap {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  gap: 7rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
  padding: 0 2rem;
}

.animated-graph {
  position: relative;
}

.animated-graph-wrap .help {
  position: absolute;
  top: calc(100% + 1rem);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
  font-family: "Red Hat Mono", monospace;
}

.animated-graph-wrap span {
  white-space: nowrap;
  font-size: 12px;
}

.blinking-dots {
  display: flex;
}

.blinking-bit .blinking-bit__signal {
  animation: randomBlink 4s linear infinite;
}

@keyframes randomBlink {
  0%, 
  10%,
  20%,
  25%,
  35%,
  45%,
  55%,
  60%,
  70%,
  80%,
  85%,
  95% { opacity: 1; }
  
  5%,
  15%,
  30%,
  40%,
  50%,
  65%,
  75%,
  90%,
  100% { opacity: 0; }
}


.vertical-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 10rem 0;
  overflow: hidden;
}

.vertical-item {
  font-size: clamp(40px, 7.78vw, 112px);
}

.vertical-item .inner {
  transform: scale(0.3);
  opacity: 0.1;
}

.vertical-item.last {
  width: 350px;
  text-align: center;
  font-size: 30px;
}