:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  min-width: 320px;
  min-height: 100vh;
  background-color: #130e16;
  /* padding-top: 2rem; */
  /* padding-top: 100vh; */
}

body > svg {
  padding: 0 2rem;
}

.blinking-boxes-wrap,
.blinking-dots-wrap,
.blinking-bit-wrap,
.animated-graph-wrap {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  gap: 7rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
  padding: 0 2rem;
}

.animated-graph {
  position: relative;
}

.animated-graph-wrap .help {
  position: absolute;
  top: calc(100% + 1rem);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
  font-family: "Red Hat Mono", monospace;
}

.animated-graph-wrap span {
  white-space: nowrap;
  font-size: 12px;
}

.blinking-dots {
  display: flex;
}

.blinking-bit .blinking-bit__signal {
  animation: randomBlink 4s linear infinite;
}

@keyframes randomBlink {
  0%, 
  10%,
  20%,
  25%,
  35%,
  45%,
  55%,
  60%,
  70%,
  80%,
  85%,
  95% { opacity: 1; }
  
  5%,
  15%,
  30%,
  40%,
  50%,
  65%,
  75%,
  90%,
  100% { opacity: 0; }
}

@keyframes blink {
  0%, 10% { opacity: 0; }
  30%, 70% { opacity: 1; }
  90%, 100% { opacity: 0; }
}

.system-status {
  position: fixed;
  top: 10rem;
  left: 72px;
  font-size: 8px;
  letter-spacing: 0.4px;
  line-height: 1.25;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  color: #E6E7D9;
}

.system-status.active {
  opacity: 1;
}

.system-status::after {
  position: absolute;
  content: '';
  width: 2px;
  height: 1em;
  transform: translate(3px, 0.5px);
  background: #29D41A;
  animation: blink 1s ease-out infinite;
}

.vertical-cards {
  position: relative;
  width: 100%;
}

.vertical-cards__mobile-msg {
  display: none;
  opacity: 0;
  visibility: hidden;
}

@media (max-width: 767px) {
  .vertical-cards__mobile-msg {
    display: block;
  }
}

.vertical-cards__img {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 100px;
  height: 200px;
  background: #222222;
  box-shadow: 0 0 0 1px white;
  opacity: 0;
}

.vertical-cards__card {
  font-size: clamp(40px, 7.78vw, 112px);
  line-height: 1;
}

.vertical-cards__card:hover {
  filter: drop-shadow(0 0 60px var(--c-color));
}

.vertical-cards__card .vertical-cards__card-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.3);
  /* opacity: 0; */
}

.vertical-cards__card.last {
  width: 350px;
  text-align: center;
  font-size: 30px;
}

.vertical-cards__card.last .vertical-cards__card-inner {
  transform: scale(1);
  opacity: 0;
  visibility: hidden;
}

.vertical-cards__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 9rem;
  width: 100%;
  will-change: transform;
}

.graphs-and-images {
  position: sticky;
  top: 0;
  width: 100%;
  height: calc(var(--vh) * 100px);
  overflow: hidden;
}

.graphs-and-images .animated-graph {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: clamp(550px, 36.46vw, 700px);
  height: clamp(150px, 13.02vw, 250px);
  max-width: 100%;
  transform: translateX(-50%);
  transform-origin: bottom;
  opacity: 0;
}

.vertical-cards__graph-grad {
  --grad-c: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: calc(var(--vh) * 50px);
}

.vertical-cards__graph-grad svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
}

.studios-section {
  width: 100%;
  height: calc(var(--vh) * 140px);
  margin-bottom: calc(var(--vh) * -100px);
  box-shadow: inset 0 0 0 2px blue;
}


/* /////////////////////// */

.path-animation {
  --rotation: 0;
  --color: #59565b;

  position: relative;
  height: 300vh;
  width: 100%;

  /* padding-top: 0vh; */
  opacity: 0;
}

.path-animation__trigger {
  -webkit-transform-style: preserve-3d;
  height: 100%;
}

#path-animation__main {
  -webkit-filter: drop-shadow( 0px 0px 12px rgba(255, 70, 85, 1));
  filter: drop-shadow( 0px 0px 12px rgba(255, 70, 85, 1));
}

.path-animation h3 {
  position: absolute;
  bottom: 20vh;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-weight: 700;
  font-size: clamp(40px, 4.44vw, 64px);
  opacity: 0;
}

.path-animation h2 {
  font-size: clamp(40px, 3.89vw, 56px);
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  transform-origin: center top;
  will-change: transform;
  transform: translateX(0);
  flex-shrink: 0;
}

.path-animation__main-title {
  -webkit-transform-style: preserve-3d;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: center top;
  transform: rotateX(calc(var(--rotation) * -1deg));
}

.path-animation__wrap {
  height: 100vh;
  position: sticky;
  top: 0;
  overflow: hidden;
  perspective-origin: center top;
  /* padding-top: 150px; */
  /* padding-top: 50vh; */
  perspective: 2000px;

  mask-image: linear-gradient(
    to bottom, 
    transparent 0%,
    black 20%,
    black 60%,
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
      to bottom, 
      transparent 0%, 
      black 20%, 
      black 60%, 
      transparent 100%
  );
}

.path-animation__svg-wrap {
  transform-origin: top;
  transform: rotateX(calc(var(--rotation) * 1deg));
  width: 40%;
  /* width: 50%; */
  margin-left: auto;
  margin-right: auto;
  -webkit-transform-style: preserve-3d;
}

.path-animation__scroll {
  -webkit-transform-style: preserve-3d;
  transform: translateY(0);
}

.path-animation__card {
  --top: 0px; 
  --left: 0px;
  --progressC: 0;
  --width: 290px;
  --offset: 16px;
  --c-size: 11px;
  --c-off: 100px;
  --dur: 0.7s;
  --tr: cubic-bezier(0.33, 1, 0.68, 1);

  -webkit-transform-style: preserve-3d;
  position: absolute;
  top: var(--top);
  left: var(--left);
  
  width: var(--width); 
  height: auto;
  z-index: 1;
}

.path-animation__card.active {
  --progressC: 1;
}

.path-animation__card.active .path-animation__text-wrap {
  --progress: 1;
}
.path-animation__card.active .path-animation__text-wrap::before,
.path-animation__card.active .path-animation__text-wrap::after {
  opacity: 1;
  transition: all var(--dur) var(--tr) 0s, opacity calc(var(--dur) * 0.3) ease-in-out;
}

.path-animation__card.active p {
  transition-delay: calc(var(--dur) * 0.4);
}

.path-animation__card.active .path-animation__title-wrap {
  transition-delay: 0s;
}

.path-animation__card::after {
  position: absolute;
  content: '';
  top: 0;
  width: 1px;
  height: clamp(100px, 8.33vw, 160px);
  transform-origin: center top;
  background: linear-gradient(to bottom, var(--color), transparent);
  transform: rotateX(calc(var(--rotation) * -1deg)) scaleY(calc(0.3 + (1 - 0.3) * var(--progressC))) translateY(var(--c-size));
  transition: all var(--dur) var(--tr);
}

.path-animation__card::before {
  position: absolute;
  content: '';
  top: calc(var(--c-size) * -0.5);
  width: var(--c-size);
  height: var(--c-size);
  border-radius: 9999px;
  background-color: #fff;
  transform-origin: center;
  transform: rotateX(calc(var(--rotation) * -1deg)) scale(calc(0.5 + (1 - 0.5) * var(--progressC)));
  opacity: calc(0.6 + (1 - 0.6) * var(--progressC));
  transition: all var(--dur) var(--tr);
}

.path-animation__card.isLeft::before {
  right: calc(var(--c-size) * -0.5);
}

.path-animation__card.isLeft::after {
  right: 0px;
}

.path-animation__card:not(.isLeft)::before {
  left: calc(var(--c-size) * -0.5);
}

.path-animation__card:not(.isLeft)::after {
  left: 0;
}

.path-animation__card.isLeft {
  transform: translateX(-100%);
}

.path-animation__card-wrap {
  width: 100%;
  height: 100%;
  transform-origin: top;
  transform: rotateX(calc(var(--rotation) * -1deg)) translateX(calc(var(--c-off) * -1));
}

.path-animation__card.isLeft .path-animation__card-wrap {
  transform: rotateX(calc(var(--rotation) * -1deg)) translateX(calc(var(--c-off) * 1));
}

.path-animation__text-wrap {
  position: relative;
  --progress: 0;
}

.path-animation__card p {
  font-size: clamp(14px, 0.83vw, 16px);
  line-height: 1.375;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;

  opacity: var(--progress);

  transition: all calc(var(--dur) * 0.4) var(--tr);
  transition-delay: 0s;
}

.path-animation__text-wrap::before,
.path-animation__text-wrap::after {
  position: absolute;
  content: '';
  top: calc(var(--offset) * -1 + 1px);
  left: calc(var(--offset) * -1 + 1px);
  width: var(--offset);
  height: var(--offset);
  opacity: 0;
  transition: all var(--dur) var(--tr) calc(var(--dur) * 0.1), opacity calc(var(--dur) * 0.3) ease-in-out calc(var(--dur) * 0.7);
}

.path-animation__text-wrap::before {
  border: 1px solid var(--color);
  border-right: none;
  border-bottom: none;
}

.path-animation__text-wrap::after {
  top: calc(100% * var(--progress));
  left: calc(100% * var(--progress));
  border: 1px solid var(--color);
  border-left: none;
  border-top: none;
}

.path-animation__card p,
.path-animation__card span {
  will-change: transform;
}

.path-animation__title-wrap {
  transform: translateY(calc(-20px * var(--progressC)));
  margin-bottom: clamp(60px, 4.17vw, 80px);
  opacity: var(--progressC);

  transition: all var(--dur) var(--tr);
  transition-delay: calc(var(--dur) * 0.1);
}

.path-animation__title-wrap-inner {
  display: flex;
  flex-direction: column;
  align-items: end;
  line-height: 1;
}

.path-animation__title-number {
  position: relative;
  padding-right: 1rem;
  font-size: 14px;
  margin-bottom: 0.75rem;
}

.path-animation__title-number::before {
  position: absolute;
  content: '';
  top: 2px;
  right: 2px;
  width: 2px;
  height: calc(100% - 4px);
  background-color: #FF4655;
}

.path-animation__title {
  font-size: clamp(24px, 1.94vw, 28px);
}

.path-animation__card.isLeft .path-animation__title-wrap-inner {
  align-items: start;
}

.path-animation__card.isLeft .path-animation__title-number {
  padding-left: 1rem;
  padding-right: 0;
}

.path-animation__card.isLeft .path-animation__title-number::before {
  right: auto;
  left: 2px;
}

.path-animation .path-animation__svg-main {
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  pointer-events: none;
}

.path-animation .path-animation__svg-ghost {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  transform-origin: center top;
  transform: rotateX(calc(var(--rotation)* -1deg));
  display: block;
  margin-left: auto;
  margin-right: auto;
  pointer-events: none;
  box-shadow: 0 0 0 1px red;
}

.path-animation__line {
  --top: 0px; 
  --left: 0px;
  position: absolute;
  top: var(--top);
  left: var(--left);
  width: 1px;
  height: calc(60px * var(--size-off));
  background: linear-gradient(to bottom, var(--color), transparent);
  transform-origin: top;
  opacity: 0;
  transform: rotateX(calc(var(--rotation) * -1deg));
}

@media (max-width: 1366px) {
  .path-animation__card {
    --c-off: 150px;
  }
}

@media (max-width: 991px) {
  .path-animation__card {
    --c-off: 0px;
  }

  /* .path-animation h3 {
    position: relative;
    bottom: auto;
    left: auto;
    transform: none;
  }

  .path-animation {
    height: auto;
  }

  .path-animation__wrap {
    height: auto;
    top: auto;
    position: relative;
    mask-image: none;
  } */

  .path-animation__svg-wrap {
    width: 80%;
  }

  .path-animation__title-wrap {
    transform: translateY(calc(-10px * var(--progressC)));
  }

  .path-animation__card.first .path-animation__title {
    transform: translate(119px, -2px);
  }

  .path-animation__card.second .path-animation__title {
    transform:translate(-102px, -4px);
  }

  .path-animation__card.third .path-animation__title {
    transform: translate(82px, -2px);
  }

  .path-animation__card.fourth .path-animation__title {
    transform:translate(-98px, -4px);
  }

  .path-animation__title-wrap-inner {
    align-items: start;
  }

  .path-animation__card.isLeft .path-animation__title-wrap-inner {
    align-items: end;
  }

  .path-animation__title-number,
  .path-animation__text-wrap {
    display: none;
  }
}

@media (max-width: 767px) {

  .path-animation h2 {
    max-width: none;
    padding: 0 1rem;
  }
}