:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  min-width: 320px;
  min-height: 100vh;
  background-color: #130e16;
  /* padding-top: 2rem; */
  /* padding-top: 100vh; */
}

body > svg {
  padding: 0 2rem;
}

.blinking-boxes-wrap,
.blinking-dots-wrap,
.blinking-bit-wrap,
.animated-graph-wrap {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  gap: 7rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
  padding: 0 2rem;
}

.animated-graph {
  position: relative;
}

.animated-graph-wrap .help {
  position: absolute;
  top: calc(100% + 1rem);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
  font-family: "Red Hat Mono", monospace;
}

.animated-graph-wrap span {
  white-space: nowrap;
  font-size: 12px;
}

.blinking-dots {
  display: flex;
}

.blinking-bit .blinking-bit__signal {
  animation: randomBlink 4s linear infinite;
}

@keyframes randomBlink {
  0%, 
  10%,
  20%,
  25%,
  35%,
  45%,
  55%,
  60%,
  70%,
  80%,
  85%,
  95% { opacity: 1; }
  
  5%,
  15%,
  30%,
  40%,
  50%,
  65%,
  75%,
  90%,
  100% { opacity: 0; }
}



.vertical-cards {
  position: relative;
  width: 100%;
  /* margin-top: -50vh; */
}

.vertical-cards__img {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 100px;
  height: 200px;
  background: #222222;
  box-shadow: 0 0 0 1px white;
  opacity: 0;
}

.vertical-cards__card {
  font-size: clamp(40px, 7.78vw, 112px);
}

.vertical-cards__card .vertical-cards__card-inner {
  transform: scale(0.3);
  opacity: 0.1;
}

.vertical-cards__card.last {
  width: 350px;
  text-align: center;
  font-size: 30px;
}

.vertical-cards__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  width: 100%;
  padding-bottom: 40dvh;
  margin-top: -40dvh;
  will-change: transform;
}

.graphs-and-images {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100dvh;
  /* margin-bottom: -60vh; */
}

.graphs-and-images .vertical-cards__graph-wrap {
  position: absolute;
  bottom: 0;
  left: 50%;
  max-width: 90vw;
  transform: translateX(-50%) scale(0.8);
  transform-origin: bottom;
  opacity: 0;
}

.graphs-and-images .animated-graph {
  max-width: 100%;
}

.path-animation {
  --rotation: 0;
  --color: #59565b;

  height: 300vh; 
  width: 100%;
  opacity: 0;
}

.path-animation__wrap {
  height: 100dvh;
  position: sticky;
  top: 0;
  overflow: hidden;
  /* padding: 20dvh 0; */
  padding-bottom: 0;
  perspective-origin: center top;
  perspective: 2000px;

  mask-image: linear-gradient(
    to bottom, 
    transparent 0%,
    black 20%,
    black 40%,
    transparent 84%
  );
  -webkit-mask-image: linear-gradient(
      to bottom, 
      transparent 0%, 
      black 20%, 
      black 40%, 
      transparent 84%
  );
}

.path-animation__svg-wrap {
  transform-origin: top;
  transform: rotateX(calc(var(--rotation) * 1deg));
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  /* box-shadow: 0 0 0 1px white; */
  -webkit-transform-style: preserve-3d;
}

.path-animation__scroll {
  -webkit-transform-style: preserve-3d;
  /* box-shadow: 0 0 0 1px white; */

}

.path-animation__card {
  --top: 0px; 
  --left: 0px;
  --progress: 0;
  --c-size: 10px;
  -webkit-transform-style: preserve-3d;
  position: absolute;
  top: var(--top);
  left: var(--left);
  
  width: 300px; 
  height: 200px;
  z-index: 1;
}

.path-animation__card::after {
  position: absolute;
  content: '';
  top: 0;
  width: 1px;
  height: 200px;
  transform-origin: top;
  background: linear-gradient(to bottom, var(--color), transparent);
}

.path-animation__card::before {
  position: absolute;
  content: '';
  top: 0;
  width: var(--c-size);
  height: var(--c-size);
  border-radius: 9999px;
  background-color: #fff;
  transform-origin: top;
  z-index: 2;
  box-shadow: 0 0 0 calc(var(--c-size) * 0.5) #130e16;
}

.path-animation__card.isLeft::before {
  right: calc(var(--c-size) * -0.5);
  transform: rotateX(calc(var(--rotation) * -1deg)) translate3d(5px, -9px, 30px);
}

.path-animation__card.isLeft::after {
  right: 0px;
  transform: rotateX(calc(var(--rotation) * -1deg)) translate3d(5px, 12px, 30px);
}

.path-animation__card:not(.isLeft)::before {
  left: calc(var(--c-size) * -0.5);
  transform: rotateX(calc(var(--rotation) * -1deg)) translate3d(-5px, -9px, 30px);
}

.path-animation__card:not(.isLeft)::after {
  left: 0px;
  transform: rotateX(calc(var(--rotation) * -1deg)) translate3d(-5px, 12px, 30px);
}

.path-animation__card.isLeft {
  transform: translateX(-100%);
}

.path-animation__card-wrap {
  width: 100%;
  height: 100%;
  transform-origin: top;
  transform: rotateX(calc(var(--rotation) * -1deg));
  opacity: var(--progress);
  box-shadow: inset 0 0 0 1px white;
}

.path-animation svg {
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.path-animation__line {
  --top: 0px; 
  --left: 0px;
  position: absolute;
  top: var(--top);
  left: var(--left);
  width: 1px;
  height: calc(60px * var(--size-off));
  background: linear-gradient(to bottom, var(--color), transparent);
  transform-origin: top;
  opacity: 0;
  transform: rotateX(calc(var(--rotation) * -1deg));
}

/* 
.path-animation__line.main::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  border-radius: 9999px;
  background-color: #fff;
} */


@media (max-width: 991px) {

  .path-animation__svg-wrap {
    width: 70%;
  }
}